<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null" >
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcQyP1oxtTVid_eduh3NtLRJSzwwfawCl6NOlJWuD5av8MGK7Rky" alt="logo">
        <h1>MLS Initial Design</h1>
      </a>

    </div>
    <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen nzTitle="Multiple Listing Service" nzIcon="dashboard">
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/welcome" >Welcome</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/integration">Integration</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/integrationrequest">Integration Request</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>UI Subject for Modification</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen nzTitle="Form" nzIcon="form">
        <ul>
          
          <li nz-menu-item nzMatchRouter>
            <a>Add New Data</a>
          </li>

          <li nz-menu-item nzMatchRouter>
            <a>Basic Form</a>
          </li>

        </ul>
        
      </li>
    </ul>
  </nz-sider>

  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
            <i class="trigger"
               nz-icon
               [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
            ></i>
            <label> Menu</label>
        </span>
        <span style="float: right; margin-right: 2%; color: rgb(73, 72, 72); @media (min-width: @screen-md-min) { .hidden-md { display: none !important; } }">
            <nz-badge nzDot style="margin:0px 20px 0px 20px;"><i nz-icon nzType="notification" ></i></nz-badge>
            
            <a style="margin:0px 2px 0px 2px;"><i nz-icon nzType="setting" nzTheme="outline"></i> Settings </a> 
            <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png"  style="margin:0px 5px 0px 20px;"></nz-avatar>                                                                                                                                                                                                    
            <a nz-dropdown [nzDropdownMenu]="menu" [nzClickHide]="false" [(nzVisible)]="visible" style="text-decoration: none; color: rgb(54, 54, 54);">
              Jomer Jorge
              <i nz-icon nzType="down"></i>
            </a>
            <nz-dropdown-menu #menu="nzDropdownMenu">
              <ul nz-menu>
                <li nz-menu-item>Profile</li>
                <li nz-menu-item>Account Settings</li>
                <li nz-menu-item (click)="visible = false">Close</li>
              </ul>
            </nz-dropdown-menu>
         

        </span>
      </div>      
    </nz-header>
    <nz-content>


      <div class="inner-content">
        <nz-breadcrumb>
          <nz-breadcrumb-item>
            <i nz-icon nzType="home"></i>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            <a><i nz-icon nzType="list"></i><span>MLS</span></a>
          </nz-breadcrumb-item>
          <nz-breadcrumb-item>
            Application
          </nz-breadcrumb-item>
        </nz-breadcrumb><hr>
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
