<h1>Integration</h1> 

<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Jomer Jorge</td>
            <td>Phase 2B Block 2 Lot 12 Mahogany Villas, Looc, Calamba City, Laguna</td>
        </tr>
        <tr>
            <td>2</td>
            <td>Jomer Jorge</td>
            <td>Phase 2B Block 2 Lot 12 Mahogany Villas, Looc, Calamba City, Laguna</td>
        </tr>
    </tbody>
</table>


